Package: 10086.repo.io.github.xmz-team
Name: Announcement (公告)
Version: 1.0.1-1
Architecture: all
Maintainer: XMZ-Team <xmz-team@outlook.com>
Author: XMZ-Team <xmz-team@outlook.com>
Section: 10086
Priority: required
Depends: firmware (<= -1.0), firmware (= -1.0), firmware (< -0.9)
Icon: https://xmz-team.github.io/ad/CydiaIcon.png
SileoDepiction: https://xmz-team.github.io/repo/sileodepiction/10086.repo.io.github.xmz-team/js.json
Description: 10086

